body {
  font-family: 'Roboto', sans-serif;
}
.header-container header {
  max-width: 100%;
  background-image: url(earth-moon.jpg);
  height: 450px;
  background-size: 100% 100%;
  color: white;
  text-align: center;
  font-size: 100px;
  display: flex;  
}
header {
  align-items: center;
  justify-content: center;
}
.column-container main {
  display: flex;
}
main {
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
  flex-direction: row;
  justify-content: center;
  background-color: E6E6E6;
  border-width: 20px;
  border: 20px;
  border-color: white;
  height: 300px;
  padding-top: 24px;
  justify-content: space-evenly 20px;
  line-height: 35px;
}
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;    
}
a:hover {
  color: black;
  text-decoration: underline;
}
button {
  background-color: 4D4D4D;
  color: white;
  font-weight: bold;
  width: auto;
  border: none;
}